// Custom styles.

body{
    // 设置背景图片
    background:url(../images/bg.svg);
    background-repeat:repeat;
  }

@media (prefers-color-scheme: light) {
  :root {
    // 博客内容透明化
    --content-bg-color:rgba(255, 255, 255, 0.96);
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --content-bg-color:rgba(0, 0, 0, 0.88);
  }
  // img{
  //   filter: invert(1);
  // }
}

// 修复不蒜子显示属性被 hexo-helper-live2d 覆盖
#busuanzi_container_site_uv, #busuanzi_container_site_pv, #busuanzi_container_page_pv {
  display: inline !important;
}

// solve line overflow of numbered equations
// Ref: https://github.com/mathjax/MathJax/issues/2562
// Ref: https://github.com/mathjax/MathJax/issues/2280
mjx-container.MathJax.CtxtMenu_Attached_0 {
    min-width: auto !important;
}
